data/
push_git.sh
test
main
*.o
*.txt
*~
*#
*.pdf
*.lof
*.aux
*.out
*.toc
*.backup
*.log
*.xml
*.doc
*.docx
*.odt
*.mpp
*.vsd
*.synctex.gz
*.toc
*.lot
*.log
/Docs/Latex/*.pdf
/Docs/Latex/*.lof
/Docs/Latex/*.aux
/Docs/Latex/*.out
/Docs/Latex/*.toc
/Docs/Latex/*.backup
/Docs/Latex/*.log
/Docs/Latex/*.xml
/Docs/Latex/*.doc
/Docs/Latex/*.docx
/Docs/Latex/*.odt
/Docs/Latex/*.mpp
/Docs/Latex/*.vsd
/Docs/Latex/*.synctex.gz
/Docs/Latex/*.toc
/Docs/Latex/*.lot
/Docs/Latex/*.log
/Libs/SIUnits/test

